beautifulsoup4
boto3
botocore
bs4
elasticsearch
elasticsearch-dsl
flasgger
Flask
Flask-HTTPAuth
flask-restful
flask-restful-swagger
Flask-Track-Usage
Flask-WTF
idna
itsdangerous
Jinja2
requests
soupsieve
sqlparse
tika
urllib3
Werkzeug
WTForms
xlrd
uwsgi